#leftMenu li.dropdown a.toRight.linkselected{ color:white !important;}
#formRecherche { width:100%;  }
#formRecherche h3 { font-size:14px; font-weight: bold;}
#formRecherche label { display:block; text-align: left;}
.blocfiltre { width:23%; margin:5px;}
.blocfiltre.typesmdo { width:100% !important;}
.blocfiltre.typesmdo select { width:100% !important;}
.blocfiltre select { width:100%;}
.mdtb_displaymore_cell { cursor: pointer; padding:3px; font-size:16px;}
tr.ligne-active
{
	border:2px solid black;
	border-bottom:1px dotted grey;
	background-color:#CCC;
}
tr.ligne-active + tr
{
	border:2px solid black;
	border-top:none;
}

table.mdtb_form_table_searchresult
{
	width:100%;
}

table.shortlist table
{
	width:100%;
}

table.mdtb_form_table_searchresult table
{
	margin:0px;
}

table.mdtb_form_table_searchresult table td { padding:5px;}

table.mdtb_form_table_searchresult th {height:26px;}

table.listepressions th{ text-align: center; border-bottom:1px #666 dotted;}
table.listepressions th ,table.listepressions td { text-align: center;}
table.listepressions th:first-of-type,table.listepressions td:first-of-type { text-align: left;}
table.listepressions tr:nth-child(even)  { background-color: lightblue; }
table.listepressions tr .avis  { display:none; }
table.listepressions tr .valeur_forcee,
table.listepressions tr.valeur_forcee,
table.detailPression tr.valeur_forcee
{ display:none; }
body.connecte_coll table.listepressions tr .avis  { display:table-cell; }
body.connecte_coll table.listepressions tr .valeur_forcee,
body.connecte_coll table.listepressions tr.valeur_forcee,
body.connecte_coll table.detailPression tr.valeur_forcee
{ display:table-cell; }
div.formAvis { min-width: 900px;}

table.detailPression, table.detailPression table
{
	width:100%;
}
table.detailMdoEtPression {
	border:1px solid #333;
}
table.detailMdoEtPression td 
{
	width:170px;
	font-weight: bold;
	padding:5px;
}
table.detailMdoEtPression td + td
{
	text-align: left;
	width:auto;
	font-weight: normal;
}

table.detailPression table.detailGroupe td 
{
	font-weight: bold;
	border-right:1px solid #AAA;
	width:60%;
	padding:5px;
}
label.erreur
{
	font-weight: bold;
	color:red;
}
table.detailGroupe {
    border: 1px solid #666;
    margin-top: 5px;
}

table.detailPression > tbody >  tr > td { padding-right: 0px;}
table.detailPression > tbody >  tr > td + td { padding-right: 0px}

table.detailPression table.detailGroupe td + td
{
	font-weight: normal;
	border-right:none;
	text-align: left;
	width:auto;
}

form.formAvisMassedeau 
{
	padding:5px;
}
form.formAvisMassedeau label
{
	clear:left;
}

div.blocValidationFormulaire
{
	text-align: right;
	padding:5px;
}

form.sauvegardeok
{
	/* border:1px solid green;  */
}

form.formAvisMassedeau label.sauvegarde { display:none;font-weight:bold; }
form.formAvisMassedeau label.sauvegardeok { color:green;  }
form.formAvisMassedeau label.sauvegardeerreur { color:red;  }
form.formAvisMassedeau label.validationok { color:orange; }

table.mdtb_form_table_searchresult tr.mdtb_content_row { cursor: pointer;}
table.mdtb_form_table_searchresult td.mdtb_content_cell { cursor: pointer;}
div.texteRecherche { display:flex;}
div.texteRecherche input#txtRecherche { width:100%; margin-right:5px;}
div.texteRecherche select#liste_typesmdo { height:26px; margin-right:5px; }

#formConnexion 
{
	margin-left:150px;
}

#formConnexion label
{
	width:110px;
}
#formInscription label,
#formMiseAJour label
{
	width:180px;
}
#msg_erreur_inscription,.msg_erreur { border:1px solid #9A0000; margin:5px; padding:10px;}
#msg_erreur_inscription  { display:none; }
#formInscription .erreur,
#formMiseAJour .erreur
{
	border:1px solid black;
	background-color: #FF9966;
}
#formInscription select,
#formMiseAJour select
{
	max-width:350px;
	height:26px;
}
.formulaire_avis { display:none;}
body.connecte_crea .formulaire_avis { display:block;}


div.avis_lecture { display:none;}
div.avis_valide div.avis_lecture { display:block;}
div.avis_valide div.avis_ecriture { display:none;}

.pagination_resultat {
    width: 100%;
    text-align: center;
    margin: 6px 0px;
}